<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Tony Lahjaji Gutierrez</title>
    <link rel="stylesheet" href="../../css/estils.css">
</head>
<body>
<body>
    <div id="header">
        <div class="flex" id="encabezado">
            <h1>CV Tony Lahjaji Gutierrez</h1>
        </div>
        <div>
            <a href="./index_en.html" id="nav">Home</a>
            <a href="./education.html" id="nav">Education</a>
            <a href="./experience.html" id="nav">Experience</a>
            <a href="../../index.html" id="idioma">Castellano</a>
        </div>
    </div>
    <br>
    <br>
        <section>
          <div class="row">
            <h3>Who I am:</h3>
                  <p id="yo">I am a second year student of the CFGM of Microcomputer Systems and Networks (SMX), and I am currently looking for a job where I could put into practice everything I have learned. I want to achieve all my goals, and that offers me the opportunity to grow in the professional, personal and intellectual area.</p>
              </div>
              <br>
              <br>
          <div class="row">
              <div class="column-2">
                <h4>Personal information:</h4>
                <ul>
                      <li>Name: Tony Lahjaji Gutierrez</li>
                      <li>Date of birth: 06/08/2004</li>
                      <li>Age: 18 años</li>
                      <li>Nationality: Spanish</li>
                      <li>Location: Hospitalet del Llobregat</li>
                      <li>Zip Code: 08906</li>
                      <li>Email: 100007793.joan23@fje.edu</li>
                      <li>Telephone: +34 608 66 59 33</li>
                  </ul>
              </div>
          <div class="video">
            <h3>Presentation video</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/CJNA5co6ybI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    </div>
            <br>
            <div class="row">
                <div class="column-1">
                    <h3><u>Skills</u></h3>
                </div>
                <div class="column-3">
                    <h4>Languages</h4>
                    <ul>
                        <li>Spanish</li>
                        <li>Catalan</li>
                        <li>English</li>
                    </ul>
                </div>
                <div class="column-3">
                    <h4>Software</h4>
                    <ul>
                        <li>Windows</li>
                        <li>Linux</li>
                        <li>Office</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
                <div class="column-3">
                    <h4>Basic skills</h4>
                    <ul>
                        <li>Autonomy</li>
                        <li>Work organization</li>
                        <li>Teamwork</li>
                        <li>Commitment</li>
                        <li>Flexibility to changes</li>
                </div>
            </div>
        </section>
      
        <footer>
          <div id="footer">
              <div class="row">
                  <div class="column-2">
                      <a href="https://github.com/" id="redes">Github</a>
                  </div>
                  <div class="column-2">
                      <a href="https://twitter.com/" id="redes">Twitter</a>
                  </div>
                  <br>
                  <br>
                  <br>
                  <div class="column-2">
                      <a href="https://instagram.com/" id="redes">Instagram</a>
                  </div>
                  <div class="column-2">
                      <a href="https://facebook.com/" id="redes">Facebook</a>
                  </div>  </footer>
      </body>
</html>

