<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Tony Lahjaji Gutierrez</title>
    <link rel="stylesheet" href="../css/estils.css">
</head>
<body>
<body>
    <div id="header">
        <div class="flex" id="encabezado">
            <h1>CV Tony Lahjaji Gutierrez</h1>
        </div>
        <div>
            <a href="../index.html" id="nav">Inicio</a>
            <a href="./estudis.html" id="nav">Estudios</a>
            <a href="./experiencia.html" id="nav">Experiencia</a>
            <a href="./en/index_en.html" id="idioma">Ingles</a>
        </div>
    </div>

    <div class="row">
        <br>
        <div class="column-2">
            <iframe id="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.621329130904!2d2.117970015426301!3d41.40402927926259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4983f40501599%3A0x94fe1aecb24cd332!2sJesuitas%20de%20Sarri%C3%A1%20San%20Ignacio!5e0!3m2!1ses!2ses!4v1683740225220!5m2!1ses!2ses"
                width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        <div class="column-2">

                <h4>Experiencia laboral:</h4>
            <ul>
                <li> <b>Jesuïtes Sarrià - Sant Ignasi</b></li>
            </ul>
            <p>Empecé las prácticas el 19 de enero de 2023 en Jesuites Sarrià, en estas prácticas que hice me enseñaron a hacer muchas cosas que no te enseñas en el colegio y sobretodo a tratar con la gente ya que tenia que estar siempre cara al público.</p>
            <h4>Tareas en la empresa:</h4>
            <ul>
            <li>Reparacion de equipos informaticos</li>
            <li>Recambio de pantallas</li>
            <li>Configuración de impresoras</li>
            <li>Tiempo en la empresa: 350 horas</li>
        </ul>
            
        </div>
    </div>
</div>
<br>
<footer>
    <div id="footer">
        <div class="row">
            <div class="column-2">
                <a href="https://github.com/" id="redes">Github</a>
            </div>
            <div class="column-2">
                <a href="https://twitter.com/" id="redes">Twitter</a>
            </div>
            <br>
            <br>
            <br>
            <div class="column-2">
                <a href="https://instagram.com/" id="redes">Instagram</a>
            </div>
            <div class="column-2">
                <a href="https://facebook.com/" id="redes">Facebook</a>
            </div>  
        </footer>
</body>
</html>
